<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Dopamine</string>
    <key>CFBundleDisplayName</key>
    <string>Dopamine</string>
    <key>CFBundleIdentifier</key>
    <string>app.dopamine.mac</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>en</string>
        <string>zh-Hans</string>
        <string>zh-Hant</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>Dopamine</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.0.6</string>
    <key>CFBundleVersion</key>
    <string>0.0.6</string>
    <key>SUFeedURL</key>
    <string>https://github.com/TempestShaw/Dopamine/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>8ZDH1i1dsjvI9ZHApVnxKWQ8FvGGw3dCoX3UypD4tCY=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUAutomaticallyUpdate</key>
    <true/>
    <key>SUEnableSystemProfiling</key>
    <false/>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>MIT License</string>
</dict>
</plist>
